:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFD336;
  overflow: hidden;
  min-height: 100vh; 
  min-height: -webkit-fill-available;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  padding: 1rem 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game-container{
  max-width: 350px;
}

.header-container{
  z-index: 21;
  pointer-events: none;
  position: relative;
  margin-bottom: -2rem;
}

.header{
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 4px solid #000000;
  background: #555459;
  box-shadow: 0px 6px 0px #16161F, inset 0px 9px 0px #686868;
}
.header.active{
  color: #ffffff;
  background: #E79442;
  box-shadow: 0px 6px 0px #16161F, inset 0px 9px 0px #FFC286;
}

.header h3{
  margin: 0;
  font-size: 0.8rem;
}

.header.active h3{
  color: #000;
}

.header h1{
  margin: 0;
  font-size: 1.5rem;
}
