@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
